body {
    background-color: #FFF;
}
#homebg{
    height: 600px;
    width: 100%;
    margin-top: -20px;
    overflow: hidden;
    /*position: relative;*/
    background-image: url("../img/homebg.jpg");
}

#hello {
    margin-top: 100px;
    color: white;

}
#hello-info {
    margin-top: 100px;
    word-spacing: 20px;
}

.big-title {
    font-size: 100px;
}

/*footer部分*/
.footer {
    color: #666;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #CCCCCC;
}
.footer h4{
    color:#563d7c ;
}
.footer a{
    color: #777;
}
.footer hr{
    border-top: 1px solid #cccccc;
}


/*cooks.html*/
.border-bottom{
    border-bottom: 1px solid #e5e5e5;
}
.main-wrapper{
    /*background-color: #EEE;*/
}
.cook-item{
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.cook-avatar{
    position: relative;
    height: 250px;
    width: 200px;
}
.cook-info h3{
    margin: 10px 0px;
}
.cook-info{
    position: relative;
    display: inline-block;
    margin: 0px 20px;
    /*float: left;*/
    vertical-align: top;
    height: 250px;
    width: 300px;

}
.cook-info span{
    margin-right: 20px;
}
.cook-info p{
    margin: 10px 0;
}

.acclaim{
    font-size: 22px;
}
.cook-info .acclaim{
    margin-top: 40px;
}
.motto{
    font-weight: bolder;
    color: red;
}

.cook-operation{
    position: relative;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    top:50px;
    /*left:200px;*/
    right: 80px;
    float: right;

}
.cook-operation a{
    display: block;
    margin: 20px 0;
}
.cook-price{
    display: inline-block;
    /*float: left;*/
    margin-left: 20px;
    /*width: auto;*/
}
.cook-price .text-price{
    text-align: center;
    color: #F40;
    font-size: 18px;
}
.cook-price .text-times{
    color: #888;
}
